@model QuranX.Models.Analysis_Root
@using RationalizingIslam.DocumentModel

@{
	ViewBag.Title = "Classical Arabic analysis of root word " + Model.LetterNames + " " + Model.ArabicRoot + " in the Quran";
}
@section head_meta {
    <meta name="robots" content="noindex" />
	<meta property="og:description" content="@ViewBag.Title" />
}

<hgroup>
    <h1>The quran</h1>
    <h2>Word analysis - @Model.ArabicRoot (@Model.LetterNames)</h2>
</hgroup>

@foreach (var group in Model.WordTypeGroups)
{
    <h3>@group.WordTypeDescription</h3>
    <table class="wordTable">
        <tbody>
            @foreach (var extract in group.Extracts)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Verse", routeValues: new { Chapter = extract.WordReference.ChapterIndex, Verse = extract.WordReference.VerseIndex })#word_@extract.WordReference.WordIndex" class="verseReference">
                            @extract.WordReference.ChapterIndex.@extract.WordReference.VerseIndex
                        </a>                        
                    </td>
                    <td class="highlightable">
						@foreach (var word in extract.PrecedingWords)
						{
							@(word.English + " ")
						}
                        <strong>@extract.WordReference.EnglishText</strong>
						@foreach (var word in extract.FollowingWords)
						{
							@(word.English + " ")
						}
                    </td>
                </tr>
            }
        </tbody>
    </table>
}